# 중고나라 데이터 분석 프로젝트(가제)

설명 :

## 패키지 임포트

In [3]:
import requests
from bs4 import BeautifulSoup
import json
import time

import pandas as pd
import numpy as np


pd.options.display.max_rows=100
pd.options.display.max_columns=100

## 데이터 불러오기(크롤링)

- 번개장터 '키워드' 검색 데이터

In [166]:
# keyword = '범고래'
bunkae = pd.DataFrame()

info = {
    'referer': 'https://m.bunjang.co.kr/',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.54 Safari/537.36'
    }

for i in range(0,10):
    
    # 차단막는 코드, 랜덤으로 time.sleep 지정
    seed = np.random.randint(100)
    np.random.seed(seed)
    a = np.random.randint(5)
    time.sleep(a)
    
    # url 설정 (i는 0부터 시작, page=0,1,2,3 ....)
    url = f'https://api.bunjang.co.kr/api/1/find_v2.json?q=%EB%82%98%EC%9D%B4%ED%82%A4+%EB%8D%A9%ED%81%AC%EB%A1%9C%EC%9A%B0+%EB%B2%94%EA%B3%A0%EB%9E%98&order=score&page={i}&request_id=20211109155207&stat_device=w&n=100&stat_category_required=1&req_ref=search&version=4'

    print(f'{i}회차 크롤링 중입니다.')
    # requests로 데이터 요청하기
    resp = requests.get(url, headers = info)
    
    if resp.status_code == requests.codes.ok:
        data = json.loads(resp.text)
        prior_bunkae = pd.DataFrame(data['list'])
        bunkae = pd.concat([prior_bunkae, bunkae])

        
    else:
        print(f'{i}번째 요청이 잘 못 되었습니다.')
        pass # 넘겨준다.
              
print('크롤링 완료!!')

0회차 크롤링 중입니다.
1회차 크롤링 중입니다.
2회차 크롤링 중입니다.
3회차 크롤링 중입니다.
4회차 크롤링 중입니다.
5회차 크롤링 중입니다.
6회차 크롤링 중입니다.
7회차 크롤링 중입니다.
8회차 크롤링 중입니다.
9회차 크롤링 중입니다.
크롤링 완료!!

In [151]:
columns = ["location", "name","num_faved", "pid", "price","status","uid","update_time","used"]
df= bunkae.loc[: ,columns]
df

,location,name,num_faved,pid,price,status,uid,update_time,used
0,서울특별시 성북구 정릉제4동,나이키 덩크로우 범고래 260사이즈,2,167914633,245000,3,4507038,1635063900,1
1,경기도 화성시 남양읍,(260)나이키 덩크로우 범고래 새제품,3,167785164,100,3,359666,1635124528,2
2,광주광역시 북구 오치1동,나이키 덩크로우 범고래 265팔아요 - 260 교환 받아요,0,168514938,290000,3,3735964,1635756263,1
3,,나이키 덩크로우 우먼스 범고래 240,1,168112400,300000,3,7592353,1635244834,1
4,충청북도 청주시 청원구 오창읍,나이키 덩크로우 레트로 범고래 245 사이즈 새상품,2,167661693,355000,3,4574063,1635642580,1
...,...,...,...,...,...,...,...,...,...
95,,280 나이키 덩크로우 범고래,2,168722425,329000,0,4502829,1636429881,1
96,경기도 남양주시 별내동,[260]나이키 범고래 덩크로우,3,169078890,330000,0,77446379,1636429469,2
97,인천광역시 계양구 작전2동,[260]나이키 덩크로우 범고래,2,168525623,360000,0,8353590,1636427935,2
98,경기도 안산시 상록구 월피동,나이키 덩크로우 범고래 W 240,4,168507403,350000,0,75453529,1636435710,2
99,제주특별자치도 제주시 이도2동,나이키 덩크로우 범고래gs 225,2,169217843,295000,0,3016551,1636425168,1

In [152]:
def make_city (x) :
    return str(x).split()

In [163]:
df1 = df["location"].apply(make_city).reset_index()

In [165]:
df1["location"]

0        [서울특별시, 성북구, 정릉제4동]
1            [경기도, 화성시, 남양읍]
2          [광주광역시, 북구, 오치1동]
3                         []
4      [충청북도, 청주시, 청원구, 오창읍]
               ...
995                       []
996         [경기도, 남양주시, 별내동]
997       [인천광역시, 계양구, 작전2동]
998     [경기도, 안산시, 상록구, 월피동]
999     [제주특별자치도, 제주시, 이도2동]
Name: location, Length: 1000, dtype: object

제품명을  fullname으로 사용할 필요가 없을거 같아서 줄이는게 나을듯

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 99
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   location       1000 non-null   object
 1   name           1000 non-null   object
 2   num_comment    1000 non-null   object
 3   num_faved      1000 non-null   object
 4   outlink_url    1000 non-null   object
 5   pid            1000 non-null   object
 6   price          1000 non-null   object
 7   product_image  1000 non-null   object
 8   ref_code       1000 non-null   object
 9   ref_content    1000 non-null   object
 10  ref_source     1000 non-null   object
 11  status         1000 non-null   object
 12  style          1000 non-null   object
 13  tag            1000 non-null   object
 14  uid            1000 non-null   object
 15  update_time    1000 non-null   int64
 16  used           1000 non-null   int64
 17  imp_id         1000 non-null   object
 18  city           1000 non-null   object
dtypes: int64(2), object(17)
memory usage: 172.4+ KB

# 번개장터 데이터 설명

from : https://m.bunjang.co.kr/  (중고상품 판매 플랫폼 번개장터)

### 컬럼 설명

**굵은 글씨**는 우리 분석에 꼭 필요한 컬럼

- location : 등록 주소
- **name** : 판매자가 등록한 상품명
- **num_faved** : 좋아요 수
- pid : 상품아이디, @@@@@@@에 입력하면 해당 페이지로 이동함.-> https://m.bunjang.co.kr/products/@@@@@@@?q=%EB%82%98%EC%9D%B4%ED%82%A4%20%EB%8D%A9%ED%81%AC%EB%A1%9C%EC%9A%B0%20%EB%B2%94%EA%B3%A0%EB%9E%98&ref=%EA%B2%80%EC%83%89%EA%B2%B0%EA%B3%BC
- **price** : 가격
- product_image : 이미지 주소
- tag : 태그
- uid : 상품자 아이디? 아직 잘 모름
- status (0 / 1 / 3) : 이건 뭔지 아직 모름
- **update_time** : 등록일 (기준은 찾아서 datetime형식으로 변환해야함)
- **used** (1 = 중고 / 2 = 새상품 / 13 = 중고) : 상품상태  # 1과 13의 차이 아직 찾지 못했음

상품명이 있어서 tag col 지워도 무방할거 같은데????

# EDA