In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import json
import time

In [3]:
# keyword = '나이키 덩크 로우'
# 크롤링 시기 : 2021-11-10 (약)18:30

df = pd.DataFrame()

info = {
    'referer' : 'https://m.bunjang.co.kr/',
    'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36'
    }

for i in range(0, 110):
    
    seed = np.random.randint(100)
    np.random.seed(seed)
    a = np.random.randint(3)
    time.sleep(a)
    
    url = f'https://api.bunjang.co.kr/api/1/find_v2.json?q=%EB%82%98%EC%9D%B4%ED%82%A4+%EB%8D%A9%ED%81%AC+%EB%A1%9C%EC%9A%B0&order=date&page={i}&request_id=20211110183323&stat_uid=77854434&token=c7533d5959054b9c882ac4276988d849&stat_device=w&n=100&stat_category_required=1&req_ref=search&version=4'
    print(f'{i}회차 크롤링 중...')
    resp = requests.get(url, headers=info)
    
    if resp.status_code == requests.codes.ok:
        data = json.loads(resp.text)
        df_prior = pd.DataFrame(data['list'])
        df = pd.concat([df, df_prior])
        
    else:
        print(f'{i}번째 요청이 잘못 되었습니다.')
        pass

print('크롤링 완료!!')

df

0회차 크롤링 중...
1회차 크롤링 중...
2회차 크롤링 중...
3회차 크롤링 중...
4회차 크롤링 중...
5회차 크롤링 중...
6회차 크롤링 중...
7회차 크롤링 중...
8회차 크롤링 중...
9회차 크롤링 중...
10회차 크롤링 중...
11회차 크롤링 중...
12회차 크롤링 중...
13회차 크롤링 중...
14회차 크롤링 중...
15회차 크롤링 중...
16회차 크롤링 중...
17회차 크롤링 중...
18회차 크롤링 중...
19회차 크롤링 중...
20회차 크롤링 중...
21회차 크롤링 중...
22회차 크롤링 중...
23회차 크롤링 중...
24회차 크롤링 중...
25회차 크롤링 중...
26회차 크롤링 중...
27회차 크롤링 중...
28회차 크롤링 중...
29회차 크롤링 중...
30회차 크롤링 중...
31회차 크롤링 중...
32회차 크롤링 중...
33회차 크롤링 중...
34회차 크롤링 중...
35회차 크롤링 중...
36회차 크롤링 중...
37회차 크롤링 중...
38회차 크롤링 중...
39회차 크롤링 중...
40회차 크롤링 중...
41회차 크롤링 중...
42회차 크롤링 중...
43회차 크롤링 중...
44회차 크롤링 중...
45회차 크롤링 중...
46회차 크롤링 중...
47회차 크롤링 중...
48회차 크롤링 중...
49회차 크롤링 중...
50회차 크롤링 중...
51회차 크롤링 중...
52회차 크롤링 중...
53회차 크롤링 중...
54회차 크롤링 중...
55회차 크롤링 중...
56회차 크롤링 중...
57회차 크롤링 중...
58회차 크롤링 중...
59회차 크롤링 중...
60회차 크롤링 중...
61회차 크롤링 중...
62회차 크롤링 중...
63회차 크롤링 중...
64회차 크롤링 중...
65회차 크롤링 중...
66회차 크롤링 중...
67회차 크롤링 중...
68회차 크롤링 중...
69회차 크롤링 중...
70회차 크롤링 중...
71회차 크롤링 중...
72회차 크롤링 중...
73회차 크롤링 중...
74회차 크롤링 중...
75회차 크롤링 중...
76회차 크롤링 중...
77회차 크롤링 중...
78회차 크롤링 중...
79회차 크롤링 중...
80회차 크롤링 중...
81회차 크롤링 중...
82회차 크롤링 중...
83회차 크롤링 중...
84회차 크롤링 중...
85회차 크롤링 중...
86회차 크롤링 중...
87회차 크롤링 중...
88회차 크롤링 중...
89회차 크롤링 중...
90회차 크롤링 중...
91회차 크롤링 중...
92회차 크롤링 중...
93회차 크롤링 중...
94회차 크롤링 중...
95회차 크롤링 중...
96회차 크롤링 중...
97회차 크롤링 중...
98회차 크롤링 중...
99회차 크롤링 중...
100회차 크롤링 중...
101회차 크롤링 중...
102회차 크롤링 중...
103회차 크롤링 중...
104회차 크롤링 중...
105회차 크롤링 중...
106회차 크롤링 중...
107회차 크롤링 중...
108회차 크롤링 중...
109회차 크롤링 중...
크롤링 완료!!

,ad,bizseller,checkout,contact_hope,free_shipping,is_adult,is_super_up_shop,location,max_cpc,name,...,style,super_up,tag,uid,update_time,used,bun_pay_filter_enabled,imp_id,ad_ref,faved
0,False,False,False,False,False,False,None,,None,[240] 나이키 덩크 로우 라이트본,...,,None,나이키덩크 라이트본 덩크240,202582,1636536835,2,False,2395618b9224022d613c,,False
1,False,False,False,False,False,False,None,,None,[270] 조던1 로우 스타피쉬 나이키,...,,None,스타피쉬270 조던1 덩크,202582,1636536828,2,False,2395618b9224022d613d,,False
2,False,False,False,False,False,False,None,강원도 횡성군 둔내면,None,나이키 덩크로우 범고래 나이키 덩크로우 치타,...,,None,나이키덩크범고래 나이키덩크로우 나이키에어포스 조던1 조던1로우,6813696,1636536766,1,False,2395618b9224022d613e,,False
3,False,False,False,False,True,False,None,경기도 수원시 권선구 권선2동,None,[230]나이키 덩크로우 se플립,...,,None,나이키덩크로우 나이키 나이키플립 나이키플립플랍 나이키한정판,9175260,1636536744,1,True,2395618b9224022d613f,,False
4,False,False,False,False,True,False,None,대구광역시 달서구 진천동,None,조던1 로우 짐레드 285 판매합니다!,...,,None,조던1 조던1로우 나이키 조던 덩크,6871743,1636536731,1,False,2395618b9224022d6140,,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,False,False,False,False,False,False,None,,None,카시나 덩크 로우 넵튠 그린 260,...,,None,카시나 나이키 덩크 260,12689481,1602906604,2,False,2395618b9278022fb1b0,,False
11,False,False,False,False,False,False,None,,None,나이키 카시나 덩크로우 카시나 익스클루시브 / 넵튠그린,...,,None,270 나이키 카시나 덩크로우 덩크로우카시나,10019859,1602171686,2,False,2395618b9278022fb1b1,,False
12,False,False,False,True,False,False,None,,None,나이키 카시나 덩크 로우 카시나 익스클루시브 / 넵튠그린,...,,None,270 나이키 카시나 덩크로우 미시착새상품,10019859,1601896018,2,False,2395618b9278022fb1b2,,False
13,False,False,False,False,False,False,None,경기도 부천시 중동,None,덩크로우 카시나,...,,None,265 카시나 나이키,749788,1601031748,2,False,2395618b9278022fb1b3,,False
14,False,False,False,False,True,False,None,서울특별시 서초구 방배3동,None,[275] 나이키 SB 덩크 로우 시카고,...,,None,나이키 덩크 시카고 시카고덩크 덩크시카고,3014594,1598106830,2,False,2395618b9278022fb1b4,,False

In [5]:
df.reset_index(drop=True, inplace=True)
df

,ad,bizseller,checkout,contact_hope,free_shipping,is_adult,is_super_up_shop,location,max_cpc,name,...,style,super_up,tag,uid,update_time,used,bun_pay_filter_enabled,imp_id,ad_ref,faved
0,False,False,False,False,False,False,None,,None,[240] 나이키 덩크 로우 라이트본,...,,None,나이키덩크 라이트본 덩크240,202582,1636536835,2,False,2395618b9224022d613c,,False
1,False,False,False,False,False,False,None,,None,[270] 조던1 로우 스타피쉬 나이키,...,,None,스타피쉬270 조던1 덩크,202582,1636536828,2,False,2395618b9224022d613d,,False
2,False,False,False,False,False,False,None,강원도 횡성군 둔내면,None,나이키 덩크로우 범고래 나이키 덩크로우 치타,...,,None,나이키덩크범고래 나이키덩크로우 나이키에어포스 조던1 조던1로우,6813696,1636536766,1,False,2395618b9224022d613e,,False
3,False,False,False,False,True,False,None,경기도 수원시 권선구 권선2동,None,[230]나이키 덩크로우 se플립,...,,None,나이키덩크로우 나이키 나이키플립 나이키플립플랍 나이키한정판,9175260,1636536744,1,True,2395618b9224022d613f,,False
4,False,False,False,False,True,False,None,대구광역시 달서구 진천동,None,조던1 로우 짐레드 285 판매합니다!,...,,None,조던1 조던1로우 나이키 조던 덩크,6871743,1636536731,1,False,2395618b9224022d6140,,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10110,False,False,False,False,False,False,None,,None,카시나 덩크 로우 넵튠 그린 260,...,,None,카시나 나이키 덩크 260,12689481,1602906604,2,False,2395618b9278022fb1b0,,False
10111,False,False,False,False,False,False,None,,None,나이키 카시나 덩크로우 카시나 익스클루시브 / 넵튠그린,...,,None,270 나이키 카시나 덩크로우 덩크로우카시나,10019859,1602171686,2,False,2395618b9278022fb1b1,,False
10112,False,False,False,True,False,False,None,,None,나이키 카시나 덩크 로우 카시나 익스클루시브 / 넵튠그린,...,,None,270 나이키 카시나 덩크로우 미시착새상품,10019859,1601896018,2,False,2395618b9278022fb1b2,,False
10113,False,False,False,False,False,False,None,경기도 부천시 중동,None,덩크로우 카시나,...,,None,265 카시나 나이키,749788,1601031748,2,False,2395618b9278022fb1b3,,False
10114,False,False,False,False,True,False,None,서울특별시 서초구 방배3동,None,[275] 나이키 SB 덩크 로우 시카고,...,,None,나이키 덩크 시카고 시카고덩크 덩크시카고,3014594,1598106830,2,False,2395618b9278022fb1b4,,False

In [6]:
# "나이키 덩크 로우" Raw Data 저장
df.to_csv('./NIKEDunkLow_raw.csv')

In [9]:
test = df.copy()
test


columns = ["location", "name","num_faved", "pid", "price","status","uid","update_time","used"]
test = test.loc[: ,columns]
test

,location,name,num_faved,pid,price,status,uid,update_time,used
0,,[240] 나이키 덩크 로우 라이트본,12,165560067,295000,0,202582,1636536835,2
1,,[270] 조던1 로우 스타피쉬 나이키,3,167037090,390000,0,202582,1636536828,2
2,강원도 횡성군 둔내면,나이키 덩크로우 범고래 나이키 덩크로우 치타,3,167886948,219000,0,6813696,1636536766,1
3,경기도 수원시 권선구 권선2동,[230]나이키 덩크로우 se플립,19,160053018,180000,0,9175260,1636536744,1
4,대구광역시 달서구 진천동,조던1 로우 짐레드 285 판매합니다!,2,169329245,210000,0,6871743,1636536731,1
...,...,...,...,...,...,...,...,...,...
10110,,카시나 덩크 로우 넵튠 그린 260,2,135530106,1100000,3,12689481,1602906604,2
10111,,나이키 카시나 덩크로우 카시나 익스클루시브 / 넵튠그린,0,135070678,1255000,3,10019859,1602171686,2
10112,,나이키 카시나 덩크 로우 카시나 익스클루시브 / 넵튠그린,1,134803846,0,3,10019859,1601896018,2
10113,경기도 부천시 중동,덩크로우 카시나,3,134165495,700000,3,749788,1601031748,2
10114,서울특별시 서초구 방배3동,[275] 나이키 SB 덩크 로우 시카고,0,131448121,1550000,3,3014594,1598106830,2

In [10]:
# 칼럼 정리 데이터 저장
test.to_csv('./NIKEDunkLow_FixColumns.csv')

In [ ]:
# columns = size , brand , color 추가